{% extends 'home/Base.html' %}
{% load static %}
{% block body %}
<div class="container py-4">
    <h1 class="text-center">Contact Us</h1>
    <form method="post" action="/contact/">
        {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your first and last name" required>
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Email Address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" required>
  </div>
 <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your contact number" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Tell Me About </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="area" rows="3" required></textarea >
  </div>
        <button type="submit" class=" btn btn-success">Submit</button>
</form>
</div>
{% endblock body %}