{% extends 'home/Base.html' %}
{% load static %}





{% block body %}

<div class="text-center bg-info text-white py-3">
<h2> Digital Marketing by WinDe </h2>
</div>
<div class="px-4 mx-4 my-2">
<h3 class="bg-warning text-center">We will helps to make your business website </h3>
<p>In today’s digital world searching on the internet first for products, services or information and digital market is more competitive than ever. Digital marketing strategy visitors are interacting and consuming the content </p>
    <ul>
        <li>Social profile setup</li>
        <li>Strategy development</li>
        <li>Platform monitoring</li>
        <li>Status updates</li>
        <li>Content development</li>
        <li>Paid advertising campaigns</li>
        <li>Result Reporting</li>
    </ul>
<p>We manage profiles and social media campaigns for your business and your target audience. We are offerings with the following social media networks:
</p>
<ul>
    <li>Facebook</li>
    <li>LinkedIn</li>
    <li>Instagram</li>
    <li>Instagram</li>
    <li>Twitter</li>
</ul>
    <h3 class="bg-warning text-center">We helps to social media account setup and services</h3>
<p>If you do not have time or just are not sure about creating social media profiles for your business, we can help you! Our amazing social media management team writes optimized content links accounts, creates images and networks with other relevant pages and profiles and so much more.
    Even we can train you how to use your new social profiles to better reach your audience and promote your business.</p>
<p>In today’s digital world searching on the internet first for products, services or information and digital market is more competitive than ever. Digital marketing strategy visitors are interacting and consuming the content </p>
</div>


{% endblock body %}