{% extends 'home/Base.html' %}
{% load static %}





{% block body %}
<div class="text-center bg-info text-white py-3">
<h2> Social Media Management</h2>
</div>
<div class="px-4 mx-4 my-2">
<h3 class="bg-warning text-center">We will help to  develop social media profiles that highlights your strengths</h3>
<p>Our team is expert in social media strategy and content creation.
    We will research on your firm and create new plan then applying the
    social media strategies to your social media accounts. This all specific content inspire your
    followers to connect with you and support your business. This all  Services are include:</p>
    <ul>
        <li>Social profile setup</li>
        <li>Strategy development</li>
        <li>Platform monitoring</li>
        <li>Status updates</li>
        <li>Content development</li>
        <li>Paid advertising campaigns</li>
        <li>Result Reporting</li>
    </ul>
<p>We manage profiles and social media campaigns for your business and your target audience. We are offerings with the following social media networks:
</p>
<ul>
    <li>Facebook</li>
    <li>LinkedIn</li>
    <li>Instagram</li>
    <li>Twitter</li>
</ul>
    <h3 class="bg-warning text-center">We helps to social media account setup and services</h3>
<p>If you do not have time or just are not sure about creating social media profiles for your business, we can help you! Our amazing social media management team writes optimized content links accounts, creates images and networks with other relevant pages and profiles and so much more.
    Even we can train you how to use your new social profiles to better reach your audience and promote your business.</p>
</div>
{% endblock body %}

